@model Invoices

<div class="container border border-black bg-light text-dark mt-4">
    <div class="row">
        <div class="border border-black">
            <h1>Sorry!</h1>
            <p>There are no invoices on this account to view. Consider <a asp-controller="Invoices" asp-action="Post">Posting New Invoices</a> to this account so there is something to display here.</p>
        </div>
    </div>
</div>
