@model Account

<div class="border border-black bg-light text-dark p-4 mt-4">
    <h1>Welcome to Accounts</h1>
    <hr />
    <button class="btn bg-dark ms-2 mb-2"><a asp-controller="Account" asp-action="SalesLedger">Sales Ledger</a></button>
</div>

